<div class="container my-5">
  <h1>Ask a question</h1>
  <form action="/answer" data-turbo="false">
    <input class="form-control" style="width: unset; display: inline;" type="text" name="question" placeholder="What do you want to ask?">
    <input class="btn btn-primary" type="submit" value="Ask away!">
  </form>
</div>
